scrapy
scrapy-playwright
markdownify
langchain
langchain-core
langchain-community
langchain-chroma
langchain-openai
langchain-groq
chromadb
sentence-transformers
jq
pypdf
ftfy
deep_translator
bs4
rank_bm25